
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


#Profile {

    width: 100%;
    border: 1px solid white;

}

#Profile>div {
    width: 70%;
    /* border: 3px solid grey; */
    margin: auto;


}


#Profile>div:nth-child(1) {
    /* font-size: 12px; */
    margin-top: 150px;

}

#Profile>div>div:nth-child(1) {
    border-bottom: 1px solid#d4d4d9;
    padding-bottom: 13px;
}

#Profile>div>div:nth-child(1)>span {
    font-size: small;

}



#profilepage {
    display: flex;
}

#profilepage>div:nth-child(1) {
    border: 1px solid yellow;
    width: 20%;
    /* height: 200px; */
    border-right: 1px solid#d4d4d9;
}

#profilepage>div:nth-child(1)>div {
    height: 100%;
    width: 90%;
    /* border: 1px solid black; */
}

#profilepage>div:nth-child(1)>div>div {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 22px;
   
}

#profilepage>div:nth-child(1)>div>div>h5 {
    margin-top: 20px;
    margin-bottom: 15px;
    border-top: 1px solid #d4d4d9;
    padding-top: 20px;
    color: gray;
}


#profilepage>div:nth-child(2) {
    border: 1px solid #d4d4d9;
    width: 75%;
    margin-top: 15px;
    margin-left: 15px;
    overflow-x: scroll;
    border: 4px solid red;
}


#profilepage>div:nth-child(2)>div:nth-child(1) {
    border: 1px solid yellow;
    /* height: 200px; */
    width: 65%;
    margin: auto;
}

#profilepage>div:nth-child(2)>div:nth-child(1)>p:nth-child(1) {
    color: #282C3F;
    font-weight: 600;
    font-size: 18px;
    /* padding-bottom: 20px; */
    padding-bottom: 300px;
    border-bottom: 1px solid#d4d4d9;
    border: 5px solid red;
}

table {
    margin-left: 25px;
    color: #282C3F;

}

tbody>tr>td {
    width: 200px;
    margin: 10px; 
     padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: smaller;
    text-align: left;
}

#profilepage>div:nth-child(2)>div:nth-child(1)>div:nth-child(3) {
    border: 1px solid red;
    width: 100%;
    height: 42px;

}

#button {
    width: 95%;
    height: 100%;
    border-radius: 2PX;
    border: none;
    font-weight: bold;
    color: #eaeaec;
    background-color: #ff3f6c;
    font-size: small;
    margin-left: 10px;
}
body>div:nth-child(3){
    /* border: 1px solid black; */
    margin-top: 150px;
   background-color: #f7f8f9;
   }

   /* ***********************************/ 



   * {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif;
  }
  
  #proscreen {
    width: 100%;
    /* border: 2px solid black; */
  }
  
 
  
  #why {
    width: 65%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 92px;
  }
  
  #probody > div:nth-child(1) {
    border-bottom: 2px solid #d9dade;
    padding-bottom: 15px;
    line-height: 22px;
  }
  
  #probody > div:nth-child(1) > h4 {
    font-size: 16px;
  }
  
  #probody > div:nth-child(1) > p {
    font-size: 12px;
    color: #282c3f;
  }
  
  #content {
    display: flex;
  }
  
  #left {
    width: 17.5%;
    border-right: 2px solid #d9dade;
    line-height: 25px;
  }
  
  #left > div {
    border-bottom: 2px solid #d9dade;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  #left > div > span:nth-child(1) {
    font-size: 12px;
    color: #7e818c;
  }
  
  #left > div > p {
    font-size: 14px;
    color: #282c3f;
  }
  #left > div:nth-child(4) > p:nth-child(2) {
    font-weight: 700;
    color: aqua;
  }
  
  #right {
    width: 80%;
    border: 2px solid #d9dade;
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
  }
  
  #pro {
    width: 70%;
    /* border: 2px solid green; */
    margin: auto;
  }
  
  #pro > div:nth-child(1) {
    border-bottom: 2px solid #d9dade;
    margin-top: 30px;
    padding-bottom: 20px;
    font-size: 14px;
    margin-left: 20px;
  }
  
  #pro > div:nth-child(2) {
    display: flex;
    margin-left: 20px;
    line-height: 50px;
    justify-content: space-evenly;
    font-size: 14px;
  }
  
  #this {
    width: 45%;
    /* border: 2px solid blue; */
  }
  
  #that {
    width: 45%;
    /* border: 2px solid blue; */
  }
  
  #pro > div:nth-child(3) {
    width: 400px;
    height: 45px;
    margin-bottom: 80px;
  }
  
  #pro > div:nth-child(3) > button {
    width: 100%;
    height: 100%;
    background-color: #ff3f6c;
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    margin-left: 70px;
    margin-top: 20px;
    
  }

  /* -------------------------------------------------- */

#propop{
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 900px;
  background-color: rgba(33, 33, 33, 0.7);
  left: 0%;
}

#propop>div{
  width: 450px;
  height: 280px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid white;
  background-color: white;
  border-radius: 30px;
}

#propop>div>i{
  color: #7a7a7a;
  margin-left: 90%;
  margin-top: 30px;
}

#propop>div>form{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

#propop>div>form>label{
  color: #9d9e9f;
}

#propop>div>form>input{
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-bottom:1px solid #b0b1b2;
  margin-bottom: 15px;
}

#propop>div>form>button{
  width: 96%;
  height: 39px;
  margin-left: 7px;
  margin-top: 10px;
  background-color: #ff3f6c;
  border: 1px solid #da4453;
  font-size: 16px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  border-radius: 3px;
}

/* ----------------------------****------------------------------------ */





  
